.header{
    background-color: #e85631;
    .logo{
        max-width: 150px;
    }
}

.footer{
    background-color: #e85631;
    .logo{
        max-width: 150px;
    }
    .intro{
        text-align: left;
       h1{
        text-align: left;
       }
    }
}